// See https://zmk.dev/docs/development/hardware-integration/physical-layouts
// for how to configure this.

#include <physical_layouts.dtsi>

/ {
    default_layout: default_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;
        kscan = <&kscan>;

        // Edit this to define the positions and sizes of the keys, or remove it
        // if your keyboard will not support ZMK Studio.
        // https://zmk.dev/docs/development/hardware-integration/physical-layouts#optional-keys-property
        // Physical layout computed from the actual Ergogen source config,
        // cross-checked against the wiring nets. Order matches the transform's
        // map (54 keys: 4 main rows x 12 cols, then the 6-key thumb row).
        keys  //             w   h    x    y    rot   rx   ry
            = <&key_physical_attrs  87  87     0   154 (-1300)     0   154>  // matrix_outer_num
            , <&key_physical_attrs  87  87    97   131 (-1300)    97   131>  // matrix_pinky_num
            , <&key_physical_attrs  87  87   264    31      0   264    31>  // matrix_ring_num
            , <&key_physical_attrs  87  87   364     0      0   364     0>  // matrix_middle_num
            , <&key_physical_attrs  87  87   464    31      0   464    31>  // matrix_index_num
            , <&key_physical_attrs  87  87   564    42      0   564    42>  // matrix_inner_num
            , <&key_physical_attrs  87  87   984    42      0   984    42>  // mirror_matrix_inner_num
            , <&key_physical_attrs  87  87  1084    31      0  1084    31>  // mirror_matrix_index_num
            , <&key_physical_attrs  87  87  1184     0      0  1184     0>  // mirror_matrix_middle_num
            , <&key_physical_attrs  87  87  1284    31      0  1284    31>  // mirror_matrix_ring_num
            , <&key_physical_attrs  87  87  1450   131   1300  1450   131>  // mirror_matrix_pinky_num
            , <&key_physical_attrs  87  87  1548   154   1300  1548   154>  // mirror_matrix_outer_num
            , <&key_physical_attrs  87  87    22   251 (-1300)    22   251>  // matrix_outer_top
            , <&key_physical_attrs  87  87   120   229 (-1300)   120   229>  // matrix_pinky_top
            , <&key_physical_attrs  87  87   264   131      0   264   131>  // matrix_ring_top
            , <&key_physical_attrs  87  87   364   100      0   364   100>  // matrix_middle_top
            , <&key_physical_attrs  87  87   464   131      0   464   131>  // matrix_index_top
            , <&key_physical_attrs  87  87   564   142      0   564   142>  // matrix_inner_top
            , <&key_physical_attrs  87  87   984   142      0   984   142>  // mirror_matrix_inner_top
            , <&key_physical_attrs  87  87  1084   131      0  1084   131>  // mirror_matrix_index_top
            , <&key_physical_attrs  87  87  1184   100      0  1184   100>  // mirror_matrix_middle_top
            , <&key_physical_attrs  87  87  1284   131      0  1284   131>  // mirror_matrix_ring_top
            , <&key_physical_attrs  87  87  1428   229   1300  1428   229>  // mirror_matrix_pinky_top
            , <&key_physical_attrs  87  87  1525   251   1300  1525   251>  // mirror_matrix_outer_top
            , <&key_physical_attrs  87  87    45   349 (-1300)    45   349>  // matrix_outer_home
            , <&key_physical_attrs  87  87   142   326 (-1300)   142   326>  // matrix_pinky_home
            , <&key_physical_attrs  87  87   264   231      0   264   231>  // matrix_ring_home
            , <&key_physical_attrs  87  87   364   200      0   364   200>  // matrix_middle_home
            , <&key_physical_attrs  87  87   464   231      0   464   231>  // matrix_index_home
            , <&key_physical_attrs  87  87   564   242      0   564   242>  // matrix_inner_home
            , <&key_physical_attrs  87  87   984   242      0   984   242>  // mirror_matrix_inner_home
            , <&key_physical_attrs  87  87  1084   231      0  1084   231>  // mirror_matrix_index_home
            , <&key_physical_attrs  87  87  1184   200      0  1184   200>  // mirror_matrix_middle_home
            , <&key_physical_attrs  87  87  1284   231      0  1284   231>  // mirror_matrix_ring_home
            , <&key_physical_attrs  87  87  1405   326   1300  1405   326>  // mirror_matrix_pinky_home
            , <&key_physical_attrs  87  87  1503   349   1300  1503   349>  // mirror_matrix_outer_home
            , <&key_physical_attrs  87  87    67   446 (-1300)    67   446>  // matrix_outer_bottom
            , <&key_physical_attrs  87  87   165   424 (-1300)   165   424>  // matrix_pinky_bottom
            , <&key_physical_attrs  87  87   264   331      0   264   331>  // matrix_ring_bottom
            , <&key_physical_attrs  87  87   364   300      0   364   300>  // matrix_middle_bottom
            , <&key_physical_attrs  87  87   464   331      0   464   331>  // matrix_index_bottom
            , <&key_physical_attrs  87  87   564   342      0   564   342>  // matrix_inner_bottom
            , <&key_physical_attrs  87  87   984   342      0   984   342>  // mirror_matrix_inner_bottom
            , <&key_physical_attrs  87  87  1084   331      0  1084   331>  // mirror_matrix_index_bottom
            , <&key_physical_attrs  87  87  1184   300      0  1184   300>  // mirror_matrix_middle_bottom
            , <&key_physical_attrs  87  87  1284   331      0  1284   331>  // mirror_matrix_ring_bottom
            , <&key_physical_attrs  87  87  1383   424   1300  1383   424>  // mirror_matrix_pinky_bottom
            , <&key_physical_attrs  87  87  1480   446   1300  1480   446>  // mirror_matrix_outer_bottom
            , <&key_physical_attrs  87  87   427   447      0   427   447>  // thumbfan_inner_thumb
            , <&key_physical_attrs  87  87   537   456   1000   537   456>  // thumbfan_near_thumb
            , <&key_physical_attrs  87 150   654   475   2800   654   475>  // thumbfan_home_thumb
            , <&key_physical_attrs  87 150   894   475 (-2800)   894   475>  // mirror_thumbfan_home_thumb
            , <&key_physical_attrs  87  87  1011   456 (-1000)  1011   456>  // mirror_thumbfan_near_thumb
            , <&key_physical_attrs  87  87  1121   447      0  1121   447>  // mirror_thumbfan_inner_thumb
            ;
    };
};
